@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
*{margin:0;padding:0;font-family: 'Noto Sans TC', sans-serif;}
body{
	font-size:16px;
}
a:hover{
	text-decoration:none;
}
img{max-width:100%;}
.over-flow{overflow:hidden;}
.left{float:left;}
.right{float:right;}
.center{margin-left:auto;margin-right:auto;}
.clear{clear:both;}
.fff{color:#fff;}
ul, ol{
	margin-bottom:0px;
}
/***************padding**************/
.p0,.np{padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;}
/***padding-top***/
.pt0{padding-top:0px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}

/******padding-bottom*****/
.pb0{padding-bottom:0px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb70{padding-bottom:70px;}

/******padding-left******/
.pl0{padding-left:0px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl25{padding-left:25px;}
.pl30{padding-left:30px;}

/******padding-right******/
.pr0{padding-right:0px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr25{padding-right:25px;}
.pr30{padding-right:30px;}

/***************margin**************/
.m0,.nm{margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;}
/***margin-top***/
.mt0{margin-top:0px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}

/******margin-bottom*****/
.mb0{margin-bottom:0px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}

/******margin-left******/
.ml0{margin-left:0px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}

/******margin-right******/
.mr0{margin-right:0px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr30{margin-right:30px;}
/********************backgrouond*******/
.bgf{
	background:#fff;
}
.hbg{
	background:url('https://www.wellcomekg.hk/wp-content/themes/wellcomekg/images/bg_hp.png');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center top;
}
.ibg{
	background:url('https://www.wellcomekg.hk/wp-content/themes/wellcomekg/images/bg_ip.png');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center top;
}
/***************up down****************/
.triangle-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
	position: absolute;
	top: 36px;
	right:18px;
}
.triangle-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
	position: absolute;
	top: 36px;
	right:18px;
}
/***************rows****************/
.rows-1{
	width:5%;
	float:left;
	padding:0 15px;
}
.rows-2{
	width:10%;
	float:left;
	padding:0 15px;
}
.rows-3{
	width:15%;
	float:left;
	padding:0 15px;
}
.rows-4{
	width:20%;
	float:left;
	padding:0 15px;
}
.rows-5{
	width:25%;
	float:left;
	padding:0 15px;
}
.rows-6{
	width:30%;
	float:left;
	padding:0 15px;
}
.rows-7{
	width:35%;
	float:left;
	padding:0 15px;
}
.rows-8{
	width:40%;
	float:left;
	padding:0 15px;
}
.rows-9{
	width:45%;
	float:left;
	padding:0 15px;
}
.rows-10{
	width:50%;
	float:left;
	padding:0 15px;
}
.rows-11{
	width:55%;
	float:left;
	padding:0 15px;
}
.rows-12{
	width:60%;
	float:left;
	padding:0 15px;
}
.rows-13{
	width:65%;
	float:left;
	padding:0 15px;
}
.rows-14{
	width:70%;
	float:left;
	padding:0 15px;
}
.rows-15{
	width:75%;
	float:left;
	padding:0 15px;
}
.rows-16{
	width:80%;
	float:left;
	padding:0 15px;
}
.rows-17{
	width:85%;
	float:left;
	padding:0 15px;
}
.rows-18{
	width:90%;
	float:left;
	padding:0 15px;
}
.rows-19{
	width:95%;
	float:left;
	padding:0 15px;
}.rows-20{
	width:100%;
	float:left;
	padding:0 15px;
}