/***********header and footer***********/
.container {
  width: 1190px;
}
.container1 {
  width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}
.commenu {
  height: 50px;
}
html,
body {
  height: 100%;
  position: relative;
}
body > .wrapper {
  margin-bottom: -50px;
}
.header-info {
  text-align: right;
  color: #fff;
}
.header-info a {
  color: #fff;
  display: inline-block;
  padding: 8px 6px;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  background: #fff;
}
.logo img {
  padding-top: 15px;
}
#footer {
  line-height: 35px;
  padding: 15px 0;
  margin-top: 50px;
}
.foot_link a {
  color: #fff;
  margin-right: 15px;
}
/****header-menu****/
.menu {
  padding: 0;
}
#gl-menu a {
  color: #000;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}
#gl-menu,
#gl-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#gl-menu {
  width: 100%;
  margin: 0px auto;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding-top: 15px;
  line-height: 30px;
}
#gl-menu:before,
#gl-menu:after {
  content: "";
  display: table;
}
#gl-menu:after {
  clear: both;
}
#gl-menu {
  zoom: 1;
}
#gl-menu li {
  float: left;
  position: relative;
  text-align: left;
  /* //background:url(https://www.wellcomekg.hk/wp-content/themes/wellcomekg/images/usu.png);
	//background-repeat: no-repeat;
	//background-position: 10% center; */
  cursor: pointer;
  width: 25%;
}
#gl-menu li.current_page_item > a,
#gl-menu li.current-menu-item > a {
  /* //color:#a77ec4; */
  border-left: 2px solid #ffb911;
}
#gl-menu .sub-menu li.current_page_item > a,
#gl-menu .sub-menu li.current-menu-item > a {
  /* //color:#a77ec4; */
  border-bottom: none;
}
#gl-menu .sub-menu a {
  border-left: none;
}
#gl-menu .sub-menu a:hover {
  border-left: none;
  color: #fff;
}
#gl-menu li .sub-menu li.current_page_item > a {
  /* //color:#fff; */
}
#gl-menu li.current-menu-parent > a {
  /* //color:#a77ec4;
	//border-bottom:3px solid #3a9039; */
}
#gl-menu li .eng {
  text-transform: capitalize;
  font-size: 14px;
}
#gl-menu li.current-menu-parent,
#gl-menu li.current_page_item {
  /* //background:url(https://www.wellcomekg.hk/wp-content/themes/wellcomekg/images/cur.png);
	//background-repeat: no-repeat;
	//background-position: 10% center; */
}
#gl-menu a {
  padding: 0 0 0 10px;
  text-decoration: none;
  border-left: 2px solid #e5a904;
}
#gl-menu li:hover > a {
  color: #e5a904;
}
#gl-menu li a:hover {
  border-left: 2px solid #e5a904;
}
#gl-menu ul {
  margin: 20px 0 0 0;
  _margin: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 35px;
  left: 0;
  z-index: 999;
  background: #53bf69;
  //background: -moz-linear-gradient(#da9a1b, #094981);
  //background-image: -webkit-gradient(linear, left top, left bottom, from(#da9a1b), to(#094981));
  //background: -webkit-linear-gradient(#da9a1b, #094981);
  //background: -o-linear-gradient(#da9a1b, #094981);
  //background: -ms-linear-gradient(#da9a1b, #094981);
  //background: linear-gradient(#da9a1b, #094981);
  -moz-box-shadow: 0 -1px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  min-width: 100%;
}
#gl-menu li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
}
#gl-menu ul ul {
  top: 0;
  left: 107%;
  margin: 0 0 0 20px;
  _margin: 0;
  -moz-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
}
#gl-menu ul li {
  float: none;
  display: block;
  border: 0;
  _line-height: 0;
  position: relative;
  width: auto;
  min-width: 100%;
  //border-bottom:1px solid #fff;
  padding: 1px 0px;
  background: none;
  font-size: 16px;
}
#gl-menu ul li:last-child {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#gl-menu ul a {
  padding: 12px 25px;
  width: auto;
  //min-width:150px;
  _height: 10px;
  display: block;
  white-space: nowrap;
  float: none;
  text-transform: none;
  color: #fff;
}
#gl-menu ul a:hover {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #53bf69;
  //background-image: -moz-linear-gradient(#0665b7, #021f39);
  //background-image: -webkit-gradient(linear, left top, left bottom, from(#0665b7), to(#021f39));
  //background-image: -webkit-linear-gradient(#0665b7, #021f39);
  //background-image: -o-linear-gradient(#0665b7, #021f39);
  //background-image: -ms-linear-gradient(#0665b7, #021f39);
  //background-image: linear-gradient(#0665b7, #021f39);
}
#gl-menu ul li:first-child > a {
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#gl-menu ul li:first-child > a:after {
  content: "";
  position: absolute;
  left: 40px;
  top: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #53bf69;
}
#gl-menu ul ul li:first-child a:after {
  left: -6px;
  top: 50%;
  margin-top: -6px;
  border-left: 0;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  border-right: 6px solid #53bf69;
}
#gl-menu ul li:first-child a:hover:after {
  border-bottom-color: #53bf69;
}
#gl-menu ul li:first-child a:hover,
#gl-menu ul li:last-child a:hover {
  border-radius: 8px;
}
#gl-menu ul ul li:first-child a:hover:after {
  border-right-color: #53bf69;
  border-bottom-color: transparent;
}
#gl-menu ul li:last-child > a {
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.mobile-menu-div {
  display: none;
}
/*********background************/
.bg1 {
  background: #fff;
}
.bg2 {
  background: #53bf69;
}
/*****innerpage*********/
#content {
  padding: 0 40px;
}
.page-content {
  padding-top: 5px;
}
.back {
  float: right;
  padding: 15px 30px 15px 30px;
}
.cur {
  //background:#bbb;
}
.entry-title {
  font-size: 44px;
  padding: 0 25px;
  color: #fff;
  position: absolute;
  top: -150px;
  z-index: 99;
  border-left: 4px solid #ffbe0c;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.title-name {
  font-size: 20px;
  margin: 10px 0px;
}
.menu-left .li {
  display: inline-block;
  width: auto;
  padding: 10px 30px;
}
.menu-left .li .eng {
  display: inline-block;
  width: auto;
  padding-left: 8px;
}
.cur .current {
  border-bottom: 3px solid #1bb3fe;
}
/***********border*************/
.b1 {
  border: 1px solid #999;
}
.b2 {
  border-bottom: 2px solid #c7c7c7;
}
.b3 {
  border-right: 2px solid #003553;
}
.bb1 {
  border-bottom: 1px dashed #c7c7c7;
}
.b4 {
  height: 5px;
  background: -ms-linear-gradient(left, #008ccc, #fac355);
  background: -moz-linear-gradient(left, #008ccc, #fac355);
  background: -webkit-linear-gradient(left, #008ccc, #fac355);
}
.b6 {
  border: 1px solid #bdbdbd;
}
.b0 {
  border: none;
}
.bt7 {
  border-top: 7px solid #5ea2ff;
}
/***********border*************/
.vc_column_container > .vc_column-inner {
  line-height: 50px;
}
/***index***/
.banner_bottom {
  position: absolute;
  z-index: 99;
  bottom: 0px;
  width: 100%;
}
.img-linkc {
  margin: 28px 0;
}
.link_en {
  margin: 35px 0 65px;
}
.link_en0 {
  text-align: left;
  padding: 0;
}
.link_en1 {
  text-align: center;
  padding: 0;
}
.link_en2 {
  text-align: right;
  padding: 0;
}
.img-link-text {
  font-size: 25px;
  font-weight: bolder;
}
.img-link img {
  width: 55%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.img-link:hover img {
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}
.newsc {
  padding-left: 25px;
  border-left: 1px solid #ccc;
}

.index-galleryc {
  margin-right: 25px;
}
.index-galleryc img {
  width: 100%;
}
.flag {
  padding-bottom: 15px;
  font-size: 30px;
  border-bottom: 1px solid #53bf69;
}
.flag_gallery {
  color: #1691ee;
}
.flag_new {
  color: #ee1d6e;
}
.flag span {
  color: #727272;
}
.index-gallery {
  margin-top: 30px;
}
.newslist {
  padding-top: 20px;
}
.newstitle {
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  margin: 5px 0 10px;
  color: #ee1d6e;
}
.newsdate {
  padding: 0 15px 10px;
  border: 1px solid #ee1d6e;
  display: inline-block;
  font-size: 24px;
  color: #ee1d6e;
  float: left;
  margin-right: 15px;
}
.newsdate h2 {
  margin-top: 10px;
}
.newscontent {
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: ellipsis; /* IE/Safari */
  -ms-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 16px;
}
.more {
  float: right;
  margin-top: 5px;
  position: relative;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  padding: 5px 10px;
}
.gallerymore {
  color: #1691ee;
  border: 1px solid #1691ee;
}
.newsmore {
  color: #d81a60;
  border: 1px solid #d81a60;
}
.index-right {
  padding-left: 50px;
}
.index-right #myCarousel {
  padding: 12px;
  border-radius: 8px;
  background: #fff !important;
  box-shadow: 3px 3px 3px #999;
  text-align: center;
}
.index-right #myCarousel img {
  margin: 0 auto;
}
.index-right .carousel-control.left,
.index-right .carousel-control.right {
  background-image: none;
  color: #1d8fff;
}
.videoc {
  margin-top: 38px;
}
/*.video {
  margin-top: 30px;
  padding: 5px;
  background: #fff;
  box-shadow: 2px 2px 2px #aaa;
  border-radius: 5px;
}*/
.other-linkc {
  background: #d3e9ff;
  margin-top: 60px;
  padding: 0 0 35px 0;
}
.other-linkc .other-link {
  display: flex;
  justify-content: center;
  align-items: Center;
}
.flag2 span {
  color: #fc5300;
}
.new_title {
  top: 0;
  position: relative;
  border-left: none;
  color: #53bf69;
  font-size: 26px;
  padding: 0;
}
.pagination .active {
  color: #fff;
  background: #1e90ff;
}
@media (max-width: 1250px) {
  .container {
    width: 100%;
  }
  #gl-menu a {
    padding: 0 0 0 10px;
    font-size: 13px;
  }
  .index-right {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 1024px) {
  .img-link img {
    width: 70%;
  }
  .logo img {
    padding-top: 25px;
  }
  .link_en {
    margin: 20px 0 50px;
  }
  #gl-menu li {
    height: 30px;
  }
  .container1 {
    width: 100%;
  }
  .menu {
    padding: 0 15px;
  }
}
@media (max-width: 1023px) {
  .logo img {
    padding-top: 0;
  }
  .phone-menu-box {
    display: block;
    width: 100%;
  }
  .commenu {
    display: none;
  }
  .menu-left {
    display: none;
  }
  .index-right {
    padding-left: 0px;
    padding-right: 0px;
  }
  .index-galleryc {
    margin-top: 30px;
    margin-right: 0px;
  }
  .index-gallery {
   /* padding: 0 30px;*/
  }
  .newsc {
    padding-left: 0px;
  }
  /**
	phone menu
	**/
  .navbar-toggle {
    background-color: #fff;
    //border: 1px solid #DDD;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
    width: 40px;
    padding: 8px;
    position: absolute;
    z-index: 99999;
    right: 15px;
    top: 66px;
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  .icon-bar {
    background-color: #53bf69;
  }
  .navbar-toggle .phone-menu-txt {
    float: right;
    font-size: 16px;
    color: #1aabff;
  }
  .gl-menu {
    display: none;
  }
  .menu-area {
    width: 100%;
  }
  .cch-menu {
    display: none;
  }
  .current-menu-item {
    //background-color: #a00000 !important;
  }

  .cch-mobile-menu {
    position: relative;
    z-index: 999;
    //padding-bottom:25px;
    //background:#a00000;
  }
  .cch-mobile-menu li {
    background-color: #53bf69;
    width: 100%;
    line-height: 35px;
    text-align: left;
    cursor: pointer;
    list-style-type: none;
    position: relative;
  }
  .cch-mobile-menu a {
    font-size: 1em;
    font-weight: normal;
    padding: 20px 15px;
    color: #fff;
    width: 100%;
    display: block;
    border-bottom: 1px dotted;
  }
  .cch-mobile-menu a .eng {
    display: inline-block;
    padding-left: 8px;
  }
  .mobile-menu-div {
    width: 100%;
    margin: 0 auto;
  }
  .mobile-menu-div-down {
    border-radius: 0px;
  }
  .mobile-menu-div-up {
    border-radius: 10px;
  }
  .cch-menu-icon {
    float: right;
    margin-right: 20px;
    cursor: pointer;
  }

  .cch-mobile-menu .sub-menu {
    display: none;
  }
  .cch-mobile-menu .sub-menu li {
    //background-color: #03325e;
  }
  .temporary-div li {
    background-color: #b2e1ff;
    width: 100%;
    line-height: 35px;
    text-align: left;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    cursor: pointer;
  }
  .po {
    position: absolute;
    top: 0px;
    right: 5px;
    z-index: 100000;
    display: block;
    width: 100%;
    text-align: right;
    height: 75px;
  }
  .temporary-div li a {
    font-size: 1em;
    font-weight: bold;
    margin-left: 20px;
    color: black;
    width: 100%;
    display: block;
  }

  .sub-menu {
    margin-left: 0px;
    //background-color: #03325e;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    padding-left: 25px;
    margin-bottom: 0px;
  }
  .mobile-menu-div {
    display: block;
    //margin-top:5px;
    //margin-bottom:5px;
  }
  .newsc {
    border-left: none;
  }
  .entry-title {
    top: -140px;
  }
}

@media screen and (max-width:991px){
	
	
	.index-galleryc, .newsc{
		
		padding-bottom:64px;
		
	}
	
	
}

@media (max-width: 768px) {
  .img-link {
    padding: 0 5px;
  }
  .img-link img {
		padding-bottom: 32px;
		width: 40%;
  }
  
}



@media (max-width: 767px) {
	
	
	
	.carousel-control .glyphicon-chevron-right{
		
		right:-10px !important;
		
	}
	
	.carousel-control .glyphicon-chevron-left{
		
		left:-10px !important;
		
	}
	
  .link_en0 {
    text-align: center;
    margin: 10px 0;
  }
  .link_en1 {
    margin: 10px 0;
  }
  .link_en2 {
    text-align: center;
    margin: 10px 0;
  }
}
@media (max-width: 550px) {
  .header-info {
    font-size: 12px;
  }
  .link_en {
    margin: 10px 0;
  }
  .flag {
    font-size: 24px;
  }
  .img-link {
    margin-top: 15px;
  }
  .entry-title {
    top: -75px;
    font-size: 24px;
	}
	.index-galleryc{
		padding-bottom:64px
	}
  #footer {
    font-size: 12px;
    line-height: 25px;
  }
  .navbar-toggle {
    top: 70px;
  }
  .newsc {
    padding-left: 0px;
  }
  #content {
    background: none;
    padding: 0 15px;
  }
}

@media screen and (max-width:480px){
	
	.img-link img{
		
		width:50%;
		
	}
	
	
}


@media (max-width: 375px) {
  #footer {
    font-size: 10px;
  }
}
.glyphicon{
	padding-right:5px;
	
}


/*****Edit By Peter*****/

.page_title b {
    font-size: 25px;
}


.wpb_text_column.wpb_content_element.page_title {
    padding-top: 64px;
}


.primary{
	
	line-height:35px;
	
}

.primary p {
    min-height: 48px;
}


@media screen and (min-width:768px){
	
	
	.mobile{
		
		display:none;
		
	}
	
}

@media screen and (max-width:768px){
	
	
	.desktop{
		
		display:none;
		
	}
	
}